
@{
    ViewBag.Title = "RemoveReader";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form action="/Admin/RemoveReader" method="post">
    <table>
        <tr>
            <td>Code of the reader:</td>
            <td><input type="number" name="code" required/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Remove reader" /></td>
        </tr>
        <tr>
            <td  colspan="2">@ViewBag.Message</td>
        </tr>
    </table>
</form>

